/* Fonts */
@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/static/Karla-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/static/Karla-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Variables */
:root {
  /* Primary Colors*/
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);

  /* Neutral Colors*/
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
}

/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Karla", sans-serif;
  background-color: var(--green-200);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

legend {
  border: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  width: min(100% - 2rem, 345px);
  margin: 2rem auto;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

.title {
  letter-spacing: -1px;
}

.form__names,
.form__name,
.form__email,
.form__radio,
.form__message {
  display: flex;
  flex-direction: column;
}

/* Names */
.form__names {
  margin: 1.25rem 0;
}

.form__name:last-child {
  margin: 1rem 0 0 0;
}

.form__label {
  padding: 0.45rem 0;
}

.form__input {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--grey-900);
  cursor: pointer;
}

.form__input:focus {
  border: 1px solid var(--green-600);
  outline: 1px solid var(--green-600);
}

/* Error message */
.form__error {
  color: var(--red);
  margin: 0.25rem 0;
  transition: ease-in 0.35s;
  display: none;
}

/* Radio */
.form__radio {
  margin: 1.5rem 0 0 0;
  border: none;
}

.form__legend {
  padding: 0 0 0.5rem 0;
}

.form__query {
  margin: 0.45rem 0;
  border-radius: 0.5rem;
  border: 1px solid var(--grey-900);
  padding: 0.75rem;
}

.form__query:has(.form__radio-input:checked) {
  background-color: var(--green-200);
}

.form__radio-input {
  transform: scale(1.5);
  margin: 0 1rem;
  cursor: pointer;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 0.2s, border-color 0.2s;
  accent-color: var(--green-200);
}

.form__radio-input:checked {
  background-color: var(--grey-200);
  border: 2px solid var(--green-600);
}

.form__radio-input:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: var(--green-600);
  border-radius: 50%;
}

/* Labels */
.form__radio-label {
  font-size: 1.15rem;
  cursor: pointer;
}

.form__input--error {
  border: 1px solid var(--red);
}

/* Form Message */
.form__message {
  margin: 0.35rem 0;
}

.form__textarea {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.form__textarea:focus {
  border: 1px solid var(--green-600);
  outline: 1px solid var(--green-600);
}

/*  Consent Check box */

.form__consent {
  margin: 2rem 0 1.25rem 0;
  padding: 0.5rem 0;
}

.form__consent-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__checkbox {
  transform: scale(1.5);
  margin: 0 1rem 0 0.5rem;
  cursor: pointer;
  accent-color: var(--green-600);
}

.form__checkbox-label {
  font-size: 1.05rem;
  cursor: pointer;
}

/* Submit button */

.form__submit {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--green-600);
  color: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.15rem;
  margin: 0.75rem 0;
  cursor: pointer;
}

.form__submit:focus-visible {
  border: 2px solid var(--grey-900);
}

@media (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    height: 100vh;
  }

  .container {
    width: min(100% - 1rem, 735px);
    margin: 0 auto;
  }

  .title {
    padding: 1rem;
  }

  /* Names */

  .form__names {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
  }

  .form__name {
    padding: 0;
    margin: 0;
    width: 50%;
  }

  .form__name:last-child {
    margin: 0rem 0 0 0;
  }

  /* Radio buttons */
  .form__radio {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .form__query {
    width: 100%;
    margin-right: 1rem;
  }

  .form__query:last-child {
    margin: 0;
  }

  /* Message */

  /* Consent */
  .form__consent {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
}
